p
{
font-size: 18px;
color: white;
margin-left: 10px;
}
.jumbotron
{
text-align: center;
background-color: #784932;
color: white;
}
#tableHeader
{
margin-top: 10px;
background-color: #337ab7;
}
#tableBorder
{
border-left: 2px solid #427ab2;
border-right: 2px solid #427ab2;
border-bottom: 2px solid #427ab2;
}
.addTrainForm
{
border-left: 2px solid #427ab2;
border-right: 2px solid #427ab2;
border-bottom: 2px solid #427ab2;
}
.time
{

font-size: 25px;
width: 120px;
background-color: #427ab2;
text-align: center;
}